* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 

  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    align-items: left  ;
    width: 90%;
    margin: auto;
    max-width: 1400px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    /* position: left; */
    /* flex-direction: row; */
    top: 15px;
    right: 50px;
    width: 40%;
    cursor: pointer;
    float: left;
    margin-left: 50;
    padding: 10px;
    padding-left: 20%;
  
    /* align-items: center; */
  }
  
  /* navbar */
  .nav-main {
    /* border: 10px red   ; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 13px;
    padding: 10px 0;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .header-main {
    /* border: 10px red   ; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
  
  
    /* font-size: 13px; */
   l padding: 20px;
    /* height: 60px; */
    /* margin-bottom: 10px; */
  }
  /* .container {
    width: 90%;
    margin: auto;
    max-width: 1400px;
  } */
  
  .nav-main .logo {
    width: 110px;
  }
  .menu-btn {
    position: absolute;
    top: 15px;
    right: 50px;
    cursor: pointer;
  }
  
  .main- {
    display: flex;
  }
  .ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .nav-main .ul.main-menu {
    display: flex;
    /* justify-content: row; */
  }
  
  .header-list {
    padding: 0.75rem 0.5rem;
    color: black;
  }
  .header-right {
    display: flex;
    padding-left: 300px;
    justify-content: flex-end;
  }
  
  .ul > li > a {
    color: black;
    text-decoration: none;
  }
  
 
  
  .blogoa {
    padding-left: 3rem;
    padding-top: 3rem;
  }
  .blogo.blogoa > h1 > {
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }
  
  .blogo.blogoa > P > {
    padding-top: 1rem;
    /* font-style: ;   */
  }
  
  .blogobtn {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    background-color: black;
    padding: 1rem, 2rem;
    height: 2rem;
    width: 7rem;
  }
  
  .product-container {
    width: 80%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* color: black; */
    /* text-decoration: none; */
    column-gap: 25px;
    text-align: center;
  }
  
  .plain {
    /* display: flex; */
    text-decoration: none;
    color: black;
  }
  
  .image {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    align-content: center;
    /* align-content: center; */
  }
  
  .article img {
    height: 200px;
    width: 100%;
  }
  
  .blueonly {
    text-decoration: none;
    color: blue;
  }
  
  .article
    {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    /* height: 250; */
    width: 25vw;
    /* align-content: center; */
    color: #000;
    text-decoration: none;
    padding-left: 5rem;
    padding-right: 5rem;
   
  }
  
  .intro {
    /* display: flex; */
    background: url("5edge.jpg") no-repeat center center/cover;
    /* background: url(5edge.jpg) no-repeat center center/cover; */
    background-size: cover;
    height: 500px;
  }
  
  .introfont {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* padding-left: 5rem; */
    padding-top: 7rem;
    padding-left: 25rem;
  }
  
  .dlbtn {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    background-color: black;
    margin-left: 14rem;
    padding: 1rem, 2rem;
    height: 2.5rem;
    width: 7rem;
  }
  
  .end {
    display: flex;
    justify-content: space-between;
    /* background: url("doc1.png") no-repeat center center/cover; */
    /* background: url(5edge.jpg) no-repeat center center/cover; */
    background-size: cover;
    height: 350px;
    min-width: 1000px;
    padding-left: 25%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* color: white; */
  }
  
  .endleft {
    color: black;
    padding: 3rem 7rem;
    /* background-color: #000; */
    max-width: 40rem;
    max-height: 50rem;
    font-size: medium;
    text-align: left;
    padding: 0%;
    align-content: center;
    margin-right: 5px;
  }
  
 
  
  .endbtn {
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(17, 170, 222);
    border-radius: 40%;
    cursor: pointer;
    border-style: none;
  }
  
  .endright{
padding-left: 8rem;
margin-left: 5px;



  }


  .service{
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-right: 50px;
  }

  .servbtm{
    display: flex;
  justify-content: center;
  padding-left: 25%;
  padding-right:25%;
  color: grey;
  font-size: small;
  text-align: center;
  
  }

  .leftbtm{
    display: flex;
  justify-content: start;
  padding-left: 2%;
  /* padding-right:5%; */
  color: grey;
  font-size: small;
  text-align: left;
  
  }

  .part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 20%;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    
  }

  .part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 20%;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    
  }

  .text{

  }

  .middle {
    display: flex;
    justify-content: space-evenly;
    /* background: url("doc1.png") no-repeat center center/cover; */
    /* background: url(5edge.jpg) no-repeat center center/cover; */
    background-size: cover;
    height: 350px;
    min-width: 1000px;
    padding-left: 20%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* color: white; */
  }
  
  .middleright {
    color: black;
    padding: 3rem 7rem;
    /* background-color: #000; */
    /* max-width: 40rem;
    max-height: 50rem; */
    font-size: medium;
    text-align: left;
    padding: 0%;
  }
  
 
  
  .middlebtn {
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 10px;
   background-color:white;
    border-radius: 40%;
    cursor: pointer;
    border-color: skyblue;
  }
  
  .middleleft{
padding-right: 15%;


  }

  .mid2 {
    display: flex;
    justify-content: space-evenly;
    /* background: url("doc1.png") no-repeat center center/cover; */
    /* background: url(5edge.jpg) no-repeat center center/cover; */
    background-size: cover;
    height: 350px;
    min-width: 1000px;
    padding-left: 20%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* color: white; */
  }
  
  .mid2left {
    color: black;
    padding: 3rem 7rem;
    /* background-color: #000; */
    max-width: 60rem;
    max-height: 50rem;
    font-size: medium;
    text-align: left;
    padding: 0%;
  }
  
 
  
  .mid2btn {
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 10px;
   background-color:white;
    border-radius: 40%;
    cursor: pointer;
    border-color: skyblue;}
  
  .mid2right{
padding-left: 10rem;


  }


  .feedback{
    justify-content: center;
    background-color: skyblue;
    margin-left: 20%;
    margin-right: 20%;
    height: 300px;
    border-radius: 15%;
    min-width: none;

  }

  .saying{
    
    display: flex;
    flex-direction: column;
    font-size: small;
    padding-top: 5rem
    ;
    padding-right: 10rem;
    padding-left: 12rem;
    color: white;

    
  }
  .profile{
    display: flex;
    flex-direction: row;
    font-size: small;
    color:white;
    padding-left: 2rem;
    padding-top: 3rem;
    align-content: center;
    margin-right: 5px;

    
  }
  .name{
    display: flex;
    flex-direction:row;
    font-size: small;
    color:white;
    padding-left:20px;
    /* padding-top: 3rem; */
    /* align-content: flex-start; */
    background-color: red;

    
  }

  .comment{
    display: flex;
    flex-direction: row;
    font-size: small;
    color:white;
    padding-left: 2rem;
    padding-top: 3rem;
    align-content: center;
    margin-right: 5px;
  }

  .service1{
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 50px;
    margin-top: 50px;
    }


   .viewall{ 
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    
    justify-content: center;

  }


  .quest{ 
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    
    justify-content: center;

  }


  .form{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-top: 10px;
    
    justify-content: center;


  }

  .Last{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    margin-left: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
    
    /* justify-content: center; */


  }