* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

input,
textarea {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  /* position: left; */
  flex-direction: row;
  top: 15px;
  right: 50px;
  width: 40%;
  cursor: pointer;
  float: left;
  margin-left: 204px;
  padding: 20px;
  align-items: center;
  padding-left: 5px;
  /* margin-top: 56px; */

}

.header .logo {
margin-right: 12px;
margin-left: 20px;

}
/* navbar */
.nav-main {
  /* border: 10px red   ; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 13px;
  padding: 10px 0;
  height: 60px;
  margin-bottom: 10px;
}

.header-main {
  /* border: 10px red   ; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin-top: 56px;
}

/* .container {
    width: 90%;
    margin: auto;
    max-width: 1400px;
  } */

.nav-main .logo {
  width: 110px;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 41px;
  height: 41px;
  left: 191px;
  top: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #458ff6;
}

.menu-btn {
  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
}

.main- {
  display: flex;
}

.ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-main .ul.main-menu {
  display: flex;
  /* justify-content: row; */
}

.header-list {
  padding: 0.75rem 0.5rem;
  color: black;
}

/* .header{
  display: flex;
  flex-direction: row;
  padding-left: 204px;
  padding-top: 62;
  justify-content: flex-start;
} */

.ul > li > a {
  color: black;
  text-decoration: none;
}



.image {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
  align-content: center;
  /* align-content: center; */
}

.article img {
  height: 200px;
  width: 100%;
}

.blueonly {
  text-decoration: none;
  color: blue;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 250; */
  width: 25vw;
  /* align-content: center; */
  color: #000;
  text-decoration: none;
  padding-left: 4rem;
  padding-right: 4rem;
}

.article.article > P > {
  padding-top: 1rem;
  color: grey;
  /* font-style: ;   */
}

.intro {
  /* display: flex; */
  background: url("5edge.jpg") no-repeat center center/cover;
  /* background: url(5edge.jpg) no-repeat center center/cover; */
  background-size: cover;
  height: 500px;
}

.introfont {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  /* padding-left: 5rem; */
  padding-top: 7rem;
  padding-left: 25rem;
}

.dlbtn {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: black;
  margin-left: 14rem;
  padding: 1rem, 2rem;
  height: 2.5rem;
  width: 7rem;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  /* background: url("doc1.png") no-repeat center center/cover; */
  /* background: url(5edge.jpg) no-repeat center center/cover; */
  background-size: cover;
  height: 350px;
  max-width: 425px;
  padding-left: 221px;
  padding-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 17px;
  /* color: white; */
}

.hero__wrapper--left {
  color: black;
  padding: 3rem 7rem;
  /* background-color: #000; */
  max-width: 40rem;
  max-height: 50rem;
  font-size: medium;
  text-align: left;
  padding: 0%;
  align-content: center;
  margin-right: 5px;
}

.hero__wrapper--left > h1 > {
  font-size: 48px;
  line-height: 56px;
}

.hero__wrapper--btn {
font-weight: 700;
font-size: 18px;
  background-color: #458ff6;
  border-radius: 55px;
  cursor: pointer;
  border-style: none;
  min-width: 200px;
  min-height: 60px;
  color: white;
  margin-top: 47px;
}

.hero__wrapper--right {
  /* padding-left: 8rem; */
  margin-left: 97px;
}

.service h1 {
  text-align: center;
}

.service p {
  text-align: center;

  align-items: center;
}

.servbtm {
  padding-left: 323px;
  padding-right: 323px;
  text-align: center;
}
.leftbtm {
  display: flex;
  justify-content: start;
  padding-left: 2%;
  /* padding-right:5%; */
  color: grey;
  font-size: small;
  text-align: left;
}

.leftbtm p{
  margin-top: 25px;
  max-width: 445px 96px;
}

.hero__wrapper--left h1{
margin-top: 100px;

}
.hero__wrapper--right img{
padding-left: 78px;
padding-right: 163px;

}
.box {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 36px;
  min-width: 350px;
}

.box img {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}

.box.box--middle {
  margin: 0 32px;
}
.part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 20%;
  padding-left: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.part1 p{
  font-weight:300 ;
  font-size: 16px;
  Line-height:28px;
  color:#7D7987;

}
.part2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 20%;
  padding-left: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.part2 p{
  font-weight:300 ;
  font-size: 16px;
  Line-height:28px;
  color:#7D7987;

}

.middle {
  display: flex;
  justify-content: space-evenly;
  /* background: url("doc1.png") no-repeat center center/cover; */
  /* background: url(5edge.jpg) no-repeat center center/cover; */
  background-size: cover;
  height: 350px;
  min-width: 1000px;
  padding-left: 20%;
  padding-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  /* color: white; */
}

.middleright {
  color: black;
  padding: 3rem 7rem;
  /* background-color: #000; */
  /* max-width: 40rem;
    max-height: 50rem; */
    text-align: left;
  padding: 0%;
}

.middleright h1{
  font-size:36px;
  Line-height: 56px;
}

.middleright p{
  font-weight: 300;
font-size: 18px;
line-height: 30px;
}

.middlebtn {

  margin-top: 39px;
  margin-left: 10px;
  background-color: white;
  color: blue;
  border-radius: 55px;
  cursor: pointer;
  border-style: none;
  width: 200px;
  height: 60px;
  font: size 18px;
  border-color: blue;
  border: 1px solid;
  line-height:60px;
}

.middleleft {
  padding-right: 15%;
}

.mid2 {
  display: flex;
  justify-content: space-evenly;
  /* background: url("doc1.png") no-repeat center center/cover; */
  /* background: url(5edge.jpg) no-repeat center center/cover; */
  background-size: cover;
  height: 350px;
  min-width: 1000px;
  padding-left: 20%;
  padding-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  /* color: white; */
}

.mid2left {
  color: black;
  padding: 3rem 7rem;
  /* background-color: #000; */
  max-width: 60rem;
  max-height: 50rem;
   text-align: left;
  padding: 0%;
  
}
.mid2 .mid2left h1{
  font-weight: 700;
font-size: 36px;
line-height: 48px;
}

.mid2 .mid2left p{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}



.download{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 39px;
margin-left: 10px;
background-color: white;
color: blue;
border-radius: 55px;
cursor: pointer;
border-style: none;
width: 200px;
height: 60px;
border-color: blue;
border: 1px solid;
}

.download p{
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;

}

.mid2btn {
  padding: 10px 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 55px;
  cursor: pointer;
  border-style: none;
  max-width: 200px;
  color: blue;
  font: size 18px;
  border-color: blue;
  border: 1px solid;
}

.mid2btm p {
  margin-top:31px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color:#7D7987;  
}
.mid2right {
  padding-left: 10rem;
}

.feedback__wrapper {
  min-width: 920px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback {
  justify-content: center;
  /* flex-direction: column; */
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  height: 425px;
  border-radius: 24px;
  padding: 54px;
}

.feedback__wrapper .feedback dots--feedback{
  display: relative;
}

.feedback__wrapper .feedback .dots--feedback img{
  position: absolute;
  width: 115px;
  height: 132px;
  left:270px;
  top:0 px;
  z-index: -1;

}


.feedback h1 {
  color: white;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.customer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 76px;
}

.customer__wrapper img {
  width: 134px;
  height: 134px;
  margin-right: 30px;
}

.profile {
  display: flex;
  font-size: small;
  color: white;
  /* padding-left: 2rem;
  padding-top: 3rem; */
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: small;
  color: white;
  /* padding-left: 20px; */
  /* padding-top: 3rem; */
  /* align-content: flex-start; */
  /* background-color: red; */
}

.comment {
  display: flex;
  flex-direction: row;
  font-size: small;
  color: white;
  /* padding-left: 2rem;
  padding-top: 3rem; */
  align-content: center;
  margin-left: 111px;
  max-width: 420px;
}

.service1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.viewall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
font-size: 18px;
line-height: 60px;
}

.quest {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quest p{
  font-weight: 300;
font-size: 18px;
line-height: 23px;
margin-top: 26px;
margin-bottom: 50px;
}

form {
  margin: 0 auto;
  max-width: 450px;
}

.form__wrapper {
  display: flex;
  min-width: 309px;
  border-radius: 5px;
  justify-content: space-between;
  
}

.name__wrapper,
.phone__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 48%;
}

form input{
height:45px; 
border-radius:10px;
margin-top:5px;
}


.form label{
margin-top: 24px;
  font-weight: 300;
font-size: 16px;
line-height: 20px;
}

.Last {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 119px;
  padding-top: 15px;
  margin-left: 10px;
  padding-left: 5rem;
  padding-right: 5rem;

  /* justify-content: center; */
}

form textarea{
  border-radius:10px;
}

.text {
  color: grey;
  font-size: 18px;
}

.line {
  width: 56px;
  height: 2px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 26px;
}

.line--white {
  background-color: white;
}

.line--black {
  background-color: black;
  margin-bottom: 26px;
}

.lineleft{
  width: 56px;
  height: 2px;
  display: inline-block;
  position: relative;
  left: 8%;
  transform: translateX(-50%);
  margin-top: 26px;
}

.lineleft line--black{
  background-color: black;
  margin-bottom: 26px;
}
 

.service__wrapper {
  background-repeat: no-repeat;
  background-image: url(./cutout.svg);
  background-position: left center;
  margin-top: 192px;
}

.form__wrapper {
  display: flex;
  align-items: center;
}

form > div {
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: white;
  padding-top: 123px;
  margin-top: 119px;
  padding-bottom: 130px;
  }

.about1 {
  min-width: 391px;
  padding-left: 190px;
  font-size: 24px;
}
 .about1 h1 {
  font-size: 24px;
  /* padding-top: 22px; */
  margin-left: 12px;
  align-self: center;
}
.about1 p {
  font-size: 18px;
  max-width: 190px;
}

.tbox {
  display: flex;
  justify-content: space-around;
  /* background-color: beige; */
  flex-direction: row;
  margin-left: 145px;
  min-width: 783px;
}

.tbox p {
  font-size: 18px;
  line-height: 38px;
}

.tbox h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}

.endlogo {
  display: flex;
  /* flex-direction: ; */
  /* position: left; */
  flex-direction: row;
  top: 15px;
  right: 50px;
  width: 40%;
  cursor: pointer;
  align-items: center;
  min-width: 250px;
  font-size: 24px;
}

.endlogo .logo2 {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
  left: 191px;
  top: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #5b9bf3;
  font-size: 26px;
  background: white;
  margin-left: 5px;
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.slider__wrapper .dots {
  margin: 0px 90px;
}


footer {
  position: relative;
}

footer .scroll_top {
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background:   #5A98F2;
  right: 54px;
  top: -38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  font-weight: 500;
  /* pointer-events: none;
  transition: all .4s; */
}

/* .scroll_top.active{
pointer-events: all;
opacity:1;
} */

footer .scroll_top img{
  padding-bottom: 10px;
}



footer .dots--top img{
  position: absolute;
  width: 115px;
  height: 132px;
  right: 54px;
  top: -75px;
  z-index: -1;
  
}


footer .dots--bottom img{
  position: absolute;
  width: 115px;
  height: 132px;
  left: 0px;
   bottom:0px;
  
}

.header headerdots--top{
  display: relative;
}

header .headerdots--top img{
  position: absolute;
  width: 115px;
  height: 132px;
  left:-50px;
  top:200px;
  z-index: -1;
  
}

.service1__wrapper {
  background-repeat: no-repeat;
  background-image: url(./cutout\ btm.svg);
  background-position: right center;

}